.body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #C4B5FD;
  border: 3px solid #7C3AED;
  height: 97vh;
}

.button {
  margin-bottom: 1rem;
}

li {
    list-style: none;
    display: inline;
    margin-right: 1rem;
}

footer {
    padding-top: 25rem;
    padding-bottom: 1rem;
}

a {
  color: #7C3AED;
}
